@font-face {
  font-family: 'Caladea';
  src: url('/assets/fonts/caladea/caladea-regular.ttf');
}

@font-face {
  font-family: 'Caladea';
  src: url('/assets/fonts/caladea/caladea-bold.ttf');
  font-weight: bold;
}