@font-face {
  font-family: 'Mano Negra';
  src: url('/assets/fonts/wc_mano_negra/WCManoNegra.ttf');
}

@font-face {
  font-family: 'Mano Negra';
  src: url('/assets/fonts/wc_mano_negra/WCManoNegraBold.ttf');
  font-weight: bold;
}